.DS_Store
__pycache__/
anlys/tensor_rot/*.h5
anlys/tensor_rot/movies/
anlys/tensor_rot/logs/
anlys/movie*/movies*/
anlys/movie*/logs/
anlys/movie*/frames*/
anlys/*/logs/
anlys/MC/*/*.h5
anlys/COM/*.npy
anlys/dilution/*.npy

TNG/anlys/tracer/subhalo*
TNG/anlys/*/logs

# paper/
paper/ms.pdf
paper/ms.aux
paper/ms.log
paper/mnras_guide.*
paper/ms.blg
paper/ms.synctex.gz

# ics/
MakeNewDisk*/
*.vc
*.vci
*.gsd
*.eqs
*.sd
*.vc2comp
MND_output.txt
MND-GSE_output.txt
create_ics_output.txt
BG_output.txt
arepo_BG/
arepo_BG-old/
gas_density.txt

..bfg-report

# runs/
runs/lvl*
*fpsync*.out
*fpsync*.err

# dev/
.ipynb_checkpoints/

# AREPO related ignores
arepo/
output*/
WARNINGS
*.dat
*.hdf5
MakeNewDisk/
makenewdiskhalogas/
uses-machines.txt
*-usedvalues
sfrrate.txt

*.tar.gz

data/

IDs.p
anlys/CGMacc/*.npy
anlys/*/log*
lspace.txt


# TNG
TNG/tables
running
running_done
